@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Molle:400i');

/*Hex codes
blue: #88d5d2
green: #9c9d47
yellow: #fec842
orange: #e97a2e
purple: #834e71*/

.jumbotron h1 {
  font-family: 'Molle', cursive;
  text-shadow: 3px 3px #9c9d47;
  /*font-family: 'Covered By Your Grace', cursive;*/
  font-size: 69px;
}

body {
  background-color: #88d5d2;
}

.container {
  background-color: white;
  padding-top: 15px;
}

.package {
  width: 100%;
}

.row {
  margin-bottom: 30px;
}

.row img {
  border-radius: 6px;
}

.price {
  color: #9c9d47;
  font-style: italic;
  font-family: 'Arial Black', sans-serif;
}
